.region-picker {
  display: flex;
  gap: 0.75em;
  flex-wrap: wrap;
  justify-content: center;
  border-top: solid 2px;
  border-bottom: solid 2px;
  padding: 1em 0;
}

.region-picker button {
  background: none;
  border: none;
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
}

.region-picker button:hover {
  cursor: pointer;
}

.region-picker button[aria-selected="true"],
.region-picker button:hover {
  text-decoration: underline;
  color: #003a54;
}
